//TODO: wtf, realy???
.p{
    &-mw{
        &-md{
            @include respondTo(mobile){
                &-0{
                    padding: 0 !important;
                }
            }
        }
    }
}

//отступы
//отступ сверху по умолчанию 20px
.gap-t{
    margin-top: 20px;

    @include respondTo(mobile){
        margin-top: 16px;
    }

    &_xs{
        margin-top: 8px;
    }

    //средний отступ
    &_m{
        margin-top: 32px;

        @include respondTo(mobile){
            margin-top: 6px;
        }
    }

    //большой отступ
    &_lg{
        margin-top: 40px;

        @include respondTo(mobile){
            margin-top: 20px;
        }
    }
}

//fix mbl menu-btn
.menu-button1{
    height: 18px;
}

.nowrap{
    white-space: nowrap;
}

//bg для попапа
.bg-fixed{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#63666A, .7);
}

//fix header на сайте
.top-background1 .page-line{
    box-sizing: content-box;
}

//т.к. breadcrumbs сделнаы не на flex-ах
//приходиться придумывать костыль для стр. provider-order-list.html
.col_right{
    flex-grow: 0;
    margin-left: auto;
    display: inline-flex;

    @include respondTo(mobile){
        margin-left: 0;
        order: -1;
        flex-basis: 100%;
        margin-bottom: 1rem;
    }
}

.bg-gray-clip{
    background-color: $color-secondary;
    background-clip: content-box;
}

.padding-right{
    padding-right: 2px !important;

    @include respondTo(tablet){
        
    }
}

.mt-40{
    margin-top: 40px;
}

.pll-0{
    padding-left: 0;

    @include respondTo(tablet){
        padding-right: 0;
        width: calc(100% + 20px);
        margin: 0 -10px;
    }
}

.prr-0{
    padding-right: 2px;

    @include respondTo(tablet){
        padding-left: 0;
        padding-right: 0;
        width: calc(100% + 20px);
        margin: 0 -10px;
    }
}

.pll-40{

    @include respondTo(tablet){
        padding-left: 40px;
    }
}