.alert{
    color: $color-txt;
    padding: $col;
    height: 100%;
    margin-bottom: 30px;
    &:last-of-type{
        margin-bottom: 0;
    }
    @include respondTo(tablet){
        padding: $col-sm $col-xs;
    }
    @include respondTo(small) {
        padding: $col-xs $col / 2;
    }
    &_bg-primary{
        background-color: $bg-primary;
    }
    &_bg-secondary{
        background-color: $bg-secondary;
    }
    &_bg-dark{
        background-color: $bg-dark;
    }
    &_big{
        padding: $col-md;
        height: 100%;
        @include respondTo(tablet){
            padding: $col-sm $col;
        }
        @include respondTo(small){
            padding: $col-xs $col / 2;
        }
    }
    &__title{
        font-size: $fz-sm *2;
        line-height: 32px;
        font-weight: bold;
        margin-bottom: $col-sm / 2;
    }
    &__text{
        font-size: $fz-big / 2;
        line-height: 24px;
        margin-bottom: 24px;
        &:last-of-type{
            margin-bottom: $col;
        }
    }
    &__accent{
        font-size: $fz-mid;
        line-height: 32px;
        margin-top: 4px;
        display: block;
        color: inherit;
    }
}