.btn{
    @extend %btn-reset;

    padding: .75em 1.5em;
    font-size: $fz-big / 2; //16px
    line-height: 1.5;
    color: $color-txt;
    display: inline-flex;
    min-width: 120px;
    justify-content: center;
    font-family: $ff-base;
    white-space: nowrap;

    &:disabled{
        cursor: default;
        pointer-events: none;
        background-color: $color-border;
        color: $color-txt-disabled;
    }

    &_primary{
        background-color: $bg-primary;

        &:hover{
            background-color: darken($bg-primary, 5%);
        }

        &:active{
            background-color: darken($bg-primary, 10%);
        }
    }

    &_dark{
        background-color: $bg-dark;
        color: $color-white;

        &:hover{
            background-color: darken($bg-dark, 5%);
        }

        &:active{
            background-color: darken($bg-dark, 10%);
        }
    }

    &_secondary{
        background-color: $bg-secondary;

        &:hover{
            background-color: darken($bg-secondary, 5%);
        }

        &:active{
            background-color: darken($bg-secondary, 10%);
        }
    }

    //дефолтная кнопка
    &_def{
        background-color: $color-white;
    }

    //на всю ширину родителя
    &_w-100{
        width: 100%;
    }

    &_reset-sm{

        @include respondTo(small){
            width: 100%;
        }
    }
}