.fake-tbl{
    padding: 0 0 40px 0;
    font-size: 16px;

    @include respondTo(desktop){
        font-size: 14px;
    }

    @include respondTo(mobile){
        font-size: 16px;
        padding: 0;
    }

    &__row{
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 1em 0;
        border-bottom: 1px solid $color-secondary;

        @include respondTo(mobile){
            flex-direction: column;
            padding: 20px 0 16px;
            align-items: flex-start;

            &:first-of-type{
                padding-top: 0;
            }
        }

        &:hover{

            & .fake-tbl__col_link{
                opacity: 1;
                visibility: visible;

                &:after{
                    display: block;
                }
            }
        }
    }

    &__col{
        padding-right: 40px;
        color: $color-disabled;
        white-space: nowrap;
        flex: 0 0 17%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;

        @at-root .fake-tbl_two-col &{
            flex-basis: 39%;

            @include respondTo(tablet){
                flex-basis: 50%;
            }
        }

        @include respondTo(tablet){
            padding-right: 20px;
        }

        @include respondTo(mobile){
            flex-basis: 100%;
            padding: 8px 0 0;
            white-space: normal;
        }

        &_lbl{
            flex: 0 0 39%;
        }

        &_name{
            flex: 0 0 39%;
            font-weight: 700;
            color: $color-txt;
            text-decoration: underline;
            overflow: hidden;
            text-overflow: ellipsis;

            @at-root .fake-tbl_two-col &{
                flex-basis: 61%;
                text-decoration: none;
                padding-left: 0;

                @include respondTo(tablet){
                    flex-basis: 50%;
                }
            }
        }

        &_date{
            flex: 0 0 165px;

            @include respondTo(desktop){
                flex: 0 0 150px
            }
        }

        &_link{
            flex: 0 0 15%;
            color: $color-txt;
            text-align: right;
            position: relative;
            padding-right: 30px;
            transition: opacity ease .3s;
            visibility: hidden;
            opacity: 0;

            @include respondTo(desktop){
                padding-right: 0;
                flex-basis: 30px;
                margin-left: auto;
                font-size: 0;
            }

            @include respondTo(mobile){
                display: none;
            }

            &:after{
                content: '';
                position: absolute;
                width: 14px;
                height: 10px;
                right: 0;
                top: calc(50% - 5px);
                background: url('../img/ico-arrow-link.svg') no-repeat 100% 50%;
            }
        }
    }
}