$col-hor-gap: 15px; //горизонтальный отступы между колонками в строке формы
$col-va-gap: 16px; //вертикальный отступ между колонками

.form{

    &__row{
        position: relative;
        display: flex;
        padding-bottom: $col-va-gap;

        &_reset-mbl{
            @include respondTo(mobile){
                flex-direction: column;
            }
        }

        &_reset-sm{
            @include respondTo(small){
                flex-direction: column;
            }
        }

        &_last{
            padding-bottom: 0;
            padding-top: $col-va-gap / 2;
        }
    }

    &__col{
        margin: 0 $col-hor-gap;
        flex-basis: 100%;
        position: relative;

        @at-root .form__row_reset-mbl &{
            @include respondTo(mobile){
                margin: 0 0 $col-va-gap 0;
            }
        }

        @at-root .form__row_reset-sm &{
            @include respondTo(small){
                margin: 0 0 $col-va-gap 0;
            }
        }

        &:first-child{
            margin-left: 0;
        }

        &:last-child{
            margin-right: 0;

            @at-root .form__row_reset-mbl &{
                @include respondTo(mobile){
                    margin-bottom: 0;
                }
            }

            @at-root .form__row_reset-sm &{
                @include respondTo(small){
                    margin-bottom: 0;
                }
            }
        }

        &_sm{
            //width: 100%;//fuck IE
            flex-basis: auto;

        }
    }

    &__wrap{
        padding-top: 20px;
    }

    &__title{
        font-weight: 700;
        color: $color-txt;
        font-size: 20px;
        line-height: 1.6;
        margin-bottom: 1em;

        @include respondTo(mobile){
            font-size: 18px;
            line-height: 1.33;
        }
    }

    &__txt{
        font-size: .88rem;
        line-height: 1.5;
        margin-bottom: .5em;

        @include respondTo(small){
            & br{
                display: none;
            }
        }

        &:last-child{
            margin-bottom: 0;
        }
    }

    //текс внизу формы
    &__notes{
        font-size: $fz-sm;
        color: $color-disabled;
        line-height: 1.4;

        & .link{
            color: inherit;
        }
    }
}