.leader{
    display: flex;
    flex-direction: row;
    align-items: center;
    &_md{
        margin-bottom: 48px;
        @include respondTo(tablet){
            margin-bottom: 32px;
        }
    }
    &__logo{
        background: url('../../img/nouser.jpg');
        background-size: cover;
        border-radius: 50%;
        height: 40px;
        margin-right: 16px;
        overflow: hidden;
        width: 40px;
        flex: 0 0 40px;
        @at-root .leader_md &{
            height: 64px;
            width: 64px;
            flex: 0 0 64px;
            align-self: baseline;
            @include respondTo(mobile){
                height: 40px;
                width: 40px;
                flex: 0 0 40px;
            }
            & > img{
                height: 100%;
            }
        }
    }
    &__name{
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        max-width: calc(100% - 56px);
    }
    &__title{
        font-size: $fz-big / 2;
        color: $color-txt;
        line-height: 16px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 2px;
        @at-root .leader_md &{
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 4px;
        }
        @include respondTo(tablet){
            font-size: 15px;
            line-height: 16px;
            @at-root .leader_md &{
                font-size: $fz-def;
                line-height: 22px;
            }
        }
        @include respondTo(mobile){
            font-size: $fz-sm;
            line-height: 16px;
            @at-root .leader_md &{
                margin-bottom: 6px;
            }
        }
    }
    &__subtitle{
        font-size: $fz-sm;
        line-height: 16px;
        color: $color-disabled;
        letter-spacing: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @at-root .leader_md &{
            font-size: 15px;
            line-break: 20px;
            white-space: normal;
            overflow: initial;
            text-overflow: initial;
        }
        @include respondTo(tablet){
            font-size: $fz-xs;
            line-height: 16px;
            @at-root .leader_md &{
                font-size: $fz-sm;
                line-height: 18px;
            }
        }
        @include respondTo(mobile){
            font-size: $fz-xs;
            line-height: 16px;
        }
    }
}