/*------------- list -------------------- */
.list{
    display: flex;
    flex-direction: row;

    &_sorting{

        @include respondTo(mobile){
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: $bg-white;
            padding: 16px 20px;
            box-shadow: 0 4px 8px 0 rgba(99, 102, 106, 0.2);

            &.active{
                display: flex;
                flex-direction: column;
                z-index: 99;
                justify-content: center;
            }
        }
    }

    //TODO: из названия не понятно, для чего данные списки
    &_themes{
        flex-direction: column;
        margin-bottom: $col-md;
        border-bottom: 1px solid $bg-hr;
    }

    //списки с желтыми квадратиками
    &_def{
        flex-direction: column;
        color: $color-txt;

        & li{
            font-size: 16px;
            margin-right: 0;
            line-height: 1.375;
            margin-bottom: 1.25em;
            padding: 0 0 0 2em;
            position: relative;

            &:last-of-type{
                margin-bottom: 0;
            }

            &:before{
                content: '';
                position: absolute;
                left: 0;
                top: 2px;
                width: 1em;
                height: 1em;
                background-color: $color-primary;
            }
        }
    }

    &__item{
        margin-right: 4px;
        line-height: 1.25;
        color: $color-txt;
        padding: 6px 12px;

        @include respondTo(tablet){
            font-size: $fz-big / 2;
        }

        &:last-of-type{
            margin-right: 0;
        }

        &:hover{
            box-shadow: none;

            & > .list__link_dd, &.active{
                &:after{
                    transform: scaleY(-1);
                }
            }

            & > .list-submenu{
                visibility: visible;
            }
        }

        @at-root .square &,
        &_square{
            //TODO: удобнее задавать класс для ul,ol и наследовать от них для li,
            // чем писать доп класс-модификатор для каждого li
            padding-left: 32px;
            position: relative;

            &:after{
                content: '';
                position: absolute;
                left: 0;
                top: 4px;
                height: 16px;
                width: 16px;
                background-color: $bg-primary;
            }
        }

        &_sortOf{
            margin-right: 8px;
            color: $color-disabled;
            box-shadow: none;
            padding-right: 0;
        }

        &_dd{
            box-shadow: inset -37px 25px 0 0 #f7f7f7, inset 12px -8px 0 0 #f7f7f7, inset -38px -9px 0 0 #4D4D4A;
        }

        &_sortingClear{
            text-align: center;
            color: $color-disabled;
            padding: 17px 16px 15px;
        }

        @at-root .list_sorting &{
            box-shadow: inset -22px 25px 0 0 #f7f7f7, inset 12px -8px 0 0 #f7f7f7, inset -38px -9px 0 0 #4D4D4A;

            @include respondTo(mobile){
                margin-right: 0;
                box-shadow: none;
                padding: 10px 16px;
                border-radius: 50px;
                margin-bottom: 2px;
                position: relative;

                &:last-of-type{
                    margin-bottom: 0;
                }

                &.active{
                    border: 2px solid $bg-primary;
                    padding: 8px 14px;

                    &:after{
                        content: '';
                        position: absolute;
                        right: 12px;
                        top: 10px;
                        height: 16px;
                        width: 16px;
                        cursor: pointer;
                        background: url('../../img/close.svg') 0 0 no-repeat;
                    }
                }
            }
        }

        @at-root .list_themes &{
            font-size: $fz-big / 2;
            line-height: 24px;
            padding: 0 0 0 32px;
            margin-right: 0;
            margin-bottom: 16px;

            &:last-of-type{
                margin-bottom: 0;
            }

            @include respondTo(mobile){
                list-style: 22px; //TODO: что это такое?
                margin-bottom: 12px;
            }
        }
    }

    &__link{
        display: flex;
        align-items: center;
        color: $color-txt;

        &_dd{
            padding-right: 10px;

            &:after{
                content: '';
                height: 16px;
                width: 16px;
                background: url('../../img/arrow-down.svg') 0 0 no-repeat;
            }
        }
    }

    &__qu{
        font-size: 11px;
        color: #4d4d4a;
        margin-left: 4px;
        display: inline-block;
    }
}

//TODO: лучше вынести в отдельный компонент
.list-submenu{
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: 0 4px 8px rgba(99, 102, 106, 0.2);
    background-color: $bg-white;
    padding: 10px 0;
    visibility: hidden;
    transform: translateX(-15px);
    z-index: 100;

    @include respondTo(mobile){
        display: flex;
        position: static;
        visibility: visible;
        box-shadow: none;
        padding: 0;
        transform: none;
    }

    &__item{
        color: $color-txt;
        font-size: 13px;
        line-height: 20px;
        padding: 10px 16px;

        @include respondTo(mobile){
            margin-bottom: 2px;

            &:last-of-type{
                margin-bottom: 0;
            }

            &:first-of-type{

                .list-submenu{
                    &__link{
                        padding-top: 0;
                    }
                }
            }
        }

        @at-root .sorting &{
            margin-right: 0;
            box-shadow: none;
            padding: 10px 16px;
            border-radius: 50px;
            margin-bottom: 2px;
            position: relative;

            &.active{

                @include respondTo(mobile){
                    border: 2px solid $bg-primary;
                    padding: 8px 14px;

                    &:after{
                        content: '';
                        position: absolute;
                        right: 12px;
                        top: 10px;
                        height: 16px;
                        width: 16px;
                        cursor: pointer;
                        background: url('../../img/close.svg') 0 0 no-repeat;
                    }
                }
            }
        }
    }

    &__link{
        color: $color-txt;
        font-size: 15px;
        text-transform: none;
        font-weight: normal;
        display: inline-block;
        vertical-align: top;

        @at-root .sorting &{

            @include respondTo(mobile){
                display: block;

                &:hover{
                    text-decoration: none;
                }
            }

            &:hover{
                text-decoration: underline;
            }
        }
    }
}