.paginator{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    @include respondTo(tablet){
        margin-top: 8px;
    }
    @include respondTo(mobile){
        align-items: center;
    }
    &__item{
        margin-right: 8px;
        width: 48px;
        height: 48px;
        background-color: transparent;
        color: $color-txt;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        &:not(.paginator__arrow):hover, &_active{
            background-color: $bg-dark;
            color: $color-primary;
        }
        @include respondTo(mobile){
            width: 40px;
            height: 40px;
            margin-right: 16px;
        }
        &:focus{
            outline: none;
        }
    }
    &__arrow{
        background-color: $bg-primary;
        border-radius: 0;
        &:hover{
            background-color: $primary-hover;
        }
        @include respondTo(mobile){
            height: 48px;
            width: 48px;
        }
        &_prev{
            margin-right: 16px;
        }
        &_next{
            margin-left: 8px;
            margin-right: 0px;
            transform: scaleX(-1);
            @include respondTo(mobile){
                margin-left: 0px;
            }
        }
    }
}