.socials{
    display: flex;
    flex-direction: row;
    &__icon{
        height: 40px;
        width: 40px;
        object-fit: contain;
        margin-right: 8px;
        &:last-of-type{
            margin-right: 0px;
        }
        &:hover{
            opacity: 0.8;
        }
        @at-root .alert &{
            margin-right: 12px;
            &:last-of-type{
                margin-right: 0;
            }
        }
    }
    &__face{
        background: url('../../img/c1.svg') no-repeat 0 0;
        &_fill{
            background: url('../../img/c1f.svg') no-repeat 0 0;
        }
    }
    &__vk{
        background: url('../../img/c2.svg') no-repeat 0 0;
        &_fill{
            background: url('../../img/c2f.svg') no-repeat 0 0;
        }
    }
    &__ok{
        background: url('../../img/c3.svg') no-repeat 0 0;
        &_fill{
            background: url('../../img/c3f.svg') no-repeat 0 0;
        }
    }
    &__tw{
        &_fill{
            background: url('../../img/c4f.svg') no-repeat 0 0;
        }
    }
    &__google{
        &_fill{
            background: url('../../img/c5f.svg') no-repeat 0 0;
        }
    }
}