footer.footer
    .background-footer1
        .page-line
            .footer
                a.logo2(href='/')
                    img(src='../../img/logo2.svg', title='Честный ЗНАК', alt='Честный ЗНАК')
                .footer__right
                    img.code1(src='../../img/code1.svg', title='Центр развития перспективных технологий', alt='Центр развития перспективных технологий')
                .footer__list
                    .footer__item
                        .footer__title
                            | О Честном ЗНАКе
                        ul.menu2
                            li.menu2__item
                                a(href='/o-chestnom-znake/') О проекте
                            li.menu2__item
                                a.selected(href='/') Система маркировки
                            li.menu2__item
                                a(href='/#garant') Гарантия подлинности товаров
                            li.menu2__item
                                a(href='/#vigodi_ot_vnedrenia') Выгоды от внедрения
                            li.menu2__item
                                a(href='/vopros-otvet/') Вопросы и ответы
                            li.menu2__item
                                a(href='/kontakty/') Контакты
                    .footer__item
                        .footer__title
                            | Для бизнеса
                        ul.menu2
                            li.menu2__item
                                a(href='/business/#footer-link-two') Внедрение маркировки
                            li.menu2__item
                                a(href='/business/#pilot-project') Пилотные проекты
                            li.menu2__item
                                a(href='/info/novosti/') Новости экспериментов
                            li.menu2__item
                                a(href='https://xn--e1agagd2e.xn--80ajghhoc2aj1c8b.xn--p1ai/') Вебинары
                            li.menu2__item.mod1
                                a(href='', data-modal='modal1') Участвовать в эксперименте
                            li.menu2__item.mod1
                                a(href='', data-modal='modal1_partner') Стать партнером
                    .footer__item
                        .footer__title
                            | Для потребителей
                        ul.menu2
                            li.menu2__item
                                a(href='https://честный2019.рф/') Приложение
                            li.menu2__item
                                a(href='https://честный2019.рф/#footer_how_to_use') Общественный контроль
                            li.menu2__item
                                a(href='https://честный2019.рф/#markir') Товары с маркировкой
                            li.menu2__item
                                a(href='/blog/') Блог
                            li.menu2__item.mod1
                                a(href='', data-modal='modal4') Сообщить о запуске
                    .footer__item
                        .footer__title Мы в соц. сетях
                        .social1
                            a.icon1(href='https://www.facebook.com/chestnyznak/', target='_blank')
                            a.icon2(href='https://vk.com/chestnyznak', target='_blank')
                            a.icon3(href='https://ok.ru/group/54181569298614', target='_blank')
                    .footer__item.mod1
                        .hide-tablet1
                            .footer__title &nbsp;
                        .footer__text
                            .footer__text-min-height
                                p
                                    | Оператором Единой национальной системы цифровой маркировки и прослеживаемости товаров является 
                                    a(href='https://crpt.ru/', target='_blank') Центр развития перспективных технологий
                            p
                                a.mod1(href='https://crpt.ru/') www.crpt.ru
                .footer__bottom
                    .footer__bottom-left
                        p
                            | © 2019                  				                            Честный ЗНАК. Все права защищены.
                    .footer__bottom-right
                        a(href='/upload/conf_ru.pdf', target='_blank') Политика конфиденциальности