footer.footer
    .c-container
        .row.footer__row
            .footer__col-md
                a.logo.gap_md(href="#")
                    img(src='../../img/logo2.svg', title='Честный ЗНАК', alt='Честный ЗНАК')
                .footer__title о честном знаке
                ul.footer__list.footer-list
                        li.footer-list__item
                            a.footer-list__link(href='/o-chestnom-znake/') О проекте
                        li.footer-list__item
                            a.footer-list__link(href='/') Система маркировки
                        li.footer-list__item
                            a.footer-list__link(href='/#garant') Гарантия подлинности товаров
                        li.footer-list__item
                            a.footer-list__link(href='/#vigodi_ot_vnedrenia') Выгоды от внедрения
                        li.footer-list__item
                            a.footer-list__link(href='/vopros-otvet/') Вопросы и ответы
                        li.footer-list__item
                            a.footer-list__link(href='/kontakty/') Контакты
            .footer__col-sm
                .footer__title Для бизнеса
                ul.footer__list.footer-list
                    li.footer-list__item
                        a.footer-list__link(href='/business/#footer-link-two') Внедрение маркировки
                    li.footer-list__item
                        a.footer-list__link(href='/business/#pilot-project') Пилотные проекты
                    li.footer-list__item
                        a.footer-list__link(href='/info/novosti/') Новости экспериментов
                    li.footer-list__item
                        a.footer-list__link(href='https://xn--e1agagd2e.xn--80ajghhoc2aj1c8b.xn--p1ai/') Вебинары
                    li.footer-list__item.footer-list__item_accent.d-lg-none
                        a.footer-list__link(href='', data-modal='modal1') Участвовать в эксперименте
                    li.footer-list__item.footer-list__item_accent.d-lg-none
                        a.footer-list__link(href='', data-modal='modal1_partner') Стать партнером
            .footer__col-sm
                .footer__title Для потребителей
                ul.footer__list.footer-list
                    li.footer-list__item
                        a.footer-list__link(href='https://честный2019.рф/') Приложение
                    li.footer-list__item
                        a.footer-list__link(href='https://честный2019.рф/#footer_how_to_use') Общественный контроль
                    li.footer-list__item
                        a.footer-list__link(href='https://честный2019.рф/#markir') Товары с маркировкой
                    li.footer-list__item
                        a.footer-list__link(href='/blog/') Блог
                    li.footer-list__item.footer-list__item_accent.d-lg-none
                        a.footer-list__link(href='', data-modal='modal4') Сообщить о запуске
            .footer__col-sm
                .footer__title Мы в соц. сетях
                .footer__socials.socials
                    a.socials__icon.socials__face(href='https://www.facebook.com/chestnyznak/', target='_blank')
                        img(src="", alt="")
                    a.socials__icon.socials__vk(href='https://vk.com/chestnyznak', target='_blank')
                    a.socials__icon.socials__ok(href='https://ok.ru/group/54181569298614', target='_blank')
            .footer__col-md
                img.footer__qr(src='../../img/code1.svg', title='Центр развития перспективных технологий', alt='Центр развития перспективных технологий')
                .footer__txt Оператором Единой национальной системы цифровой маркировки и прослеживания товаров является <a class="footer__link" href="#">Центр развития перспективных технологий</a>
                a.footer-list__item.footer-list__item_accent.d-lg-none(href='https://crpt.ru/') www.crpt.ru
        .row.footer__row_dynamic.d-none.d-lg-flex
            .footer__col-md
            .footer__col-sm
                 ul.footer__list.footer-list
                    li.footer-list__item.footer-list__item_accent
                        a.footer-list__link(href='/o-chestnom-znake/') Участвовать в эксперименте
                    li.footer-list__item.footer-list__item_accent
                        a.footer-list__link(href='/o-chestnom-znake/') Стать партнером
            .footer__col-sm
                ul.footer__list.footer-list
                    li.footer-list__item.footer-list__item_accent
                        a.footer-list__link(href='/o-chestnom-znake/') Сообщить о запуске
            .footer__col-sm
            .footer__col-md
                a.footer-list__item.footer-list__item_accent(href='https://crpt.ru/') www.crpt.ru