ul.breadcrumbs
    li.breadcrumbs__item
        a.breadcrumbs__link(href='/') Главная
    li.breadcrumbs__item
        a.breadcrumbs__link(href='/business/') Бизнесу
    li.breadcrumbs__item
        a.breadcrumbs__link(href='/business/projects/') Проекты
    li.breadcrumbs__item
        span Маркировка товаров легкой промышленности