.col-12.col-md-6.col-lg-4
    .card
        .card__header(style="background-image: url('../../img/GF.jpg');")
            .card__ribbon
                | Вебинар
            .card__type
                img(src="../../img/product1.svg", alt="")
        .card__content
            .card__date
                | 12 апреля 2018
            .card__text
                a.card__link(href="#") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas quis reiciendis molestiae nemo? Ut harum laborum...
            .card__leader.leader
                .leader__logo 
                    img(src="../../img/boris.jpg", alt="")
                .leader__name
                    .leader__title Антон Харитонов
                    .leader__subtitle Руководитель направления «Фарма» 
        a(href="#").card__footer
            | Подробнее
            img.card__arrow(src="../../img/i13.svg", alt="")