.sorting
    .sorting__title.init.d-md-none(data-target="sorting").js_outClickDouble Товарные группы
    ul.list.list_sorting.target(data-target="sorting").js_outClickDouble
        li.list__item.list__item_sortOf.d-none.d-md-inline-block Товарные группы:
        li.list__item.js_sortingOption
            a.list__link(href="#") Табак
                .list__qu 8
        li.list__item.js_sortingOption
            a.list__link(href="#") Обувь
                .list__qu 6
        li.list__item.js_sortingOption
            a.list__link(href="#") Духи
                .list__qu 9
        li.list__item.js_sortingOption
            a.list__link(href="#") Шины
                .list__qu 8
        li.list__item.list__item_dd.p-mw-md-0
            a.list__link.list__link_dd.d-none.d-md-flex(href="#")  Смотреть всё
            ul.list__submenu.list-submenu
                li.list-submenu__item.js_sortingOption
                    a.list-submenu__link(href='#') Трикотаж
                li.list-submenu__item.js_sortingOption
                    a.list-submenu__link(href='#') Постельное белье
                li.list-submenu__item.js_sortingOption
                    a.list-submenu__link(href='#') Столовое белье
                li.list-submenu__item.js_sortingOption
                    a.list-submenu__link(href='#') Трикотажные блузки
                li.list-submenu__item.js_sortingOption
                    a.list-submenu__link(href='#') Плащи и куртки
        li.list__item.list__item_sortingClear.js_sortingClear.d-md-none Сбросить фильтр