ul.paginator
    li.paginator__item.paginator__arrow.paginator__arrow_prev
        img(src="../../img/i13.svg", alt="")
    li.paginator__item 1
    li.paginator__item.paginator__item_active 2
    li.paginator__item 3
    li.paginator__item.d-none.d-md-flex 4
    li.paginator__item.d-none.d-md-flex 5
    li.paginator__item.paginator__arrow.paginator__arrow_next
        img(src="../../img/i13.svg", alt="")