//******* block14 *******//
// block14-share - удаляем совсем
// block14__left - удаляем все, что внутри
// внутри block14__left вставляем картинку customers-hero-image.jpg c классом block14__hero-img
// block14__right - убираем класс: .block14__right_bg и атрибут style со всем содержимым
// block14__title и block14__p - меняем контент

//******* block15 *******//
//block15 - удаляем совсем

//******* block12-background-snow *******//
//block12-background-snow - удаляем совсем


//блок hero
.block14{

    //картинка для баннера
    &__hero-img{
        object-fit: contain;
        max-width: 100%;
    }

    &__over{
        & .block14__title{
            font-size: 36px;
            line-height: 1.33;
            padding-bottom: .66em;

            @media screen and (max-width: 1000px) {
                font-size: 32px;
            }
        }

        & .block14__p{
            //т.к. на сайте уже задан important
            //перебиваю его
            font-size: 15px !important;
            line-height: 1.6em !important;

            @media screen and (max-width: 1000px) {
                font-size: 14px !important;
            }
        }

        & .block14__left{
            @media screen and (max-width: 1100px) {
                left: -290px;
            }

            @media screen and (max-width: 900px) {
                left: -340px;
            }
        }
    }

    &__right{
        padding: 30px 0 44px 60px;

        @media screen and (max-width: 1000px) {
            max-width: 50%;
            padding: 30px 0 30px 30px;
        }

        @media screen and (max-width: 800px){
            padding-left: 24px;
        }

        @media screen and (max-width: 760px){
            padding: 30px 10px;

            &:before{
                right: 0;
            }
        }
    }
}

//отступ между ссылкой и кнопкой в block14__over
.launch-alert1_link + .launch-alert2-potr{
    margin-top: 32px;
}

//блок с иконками
.block10{
    padding: 100px 0 120px;
}

//блок с формой
//убираю ненужные отсутпы
.block-form-potrebitelyam .modal-up__content{
    top: 0;
    margin: 0 auto;
}

//блок с формой убираю нг тематику
.block-form-potrebitelyam-background{
    background: #63666A;
}