extends inc/base

block title
  title= 'Анкета-Заявка'
  meta(name="description" content="Описание страницы")

block style
  link(rel='stylesheet', href='css/anketa.css')

block content
  include parts/header

  //content-header
  section.section.section.section_m-pad.section_mobile-sm.after-fixed-nav
    .c-container
      .row
        .col
          ul.breadcrumbs
            li.breadcrumbs__item
              a.breadcrumbs__link(href='/') Главная
            li.breadcrumbs__item
              a.breadcrumbs__link(href='/') Бизнесу
            li.breadcrumbs__item
              span Анкета-Заявка на&nbsp;получение бесплатного регистратора эмиссии для аптек и&nbsp;медицинских организаций
      .row
        .col
          h1.title Анкета-Заявка на&nbsp;получение бесплатного регистратора эмиссии для&nbsp;аптек и&nbsp;медицинских организаций


  //icon-section
  section.section.section_gray
    .c-container
      h2.content-title Для получения бесплатных регистраторов эмиссии
      .row
        .col-md-4.col-sm-12
          .iconbox.iconbox_step.iconbox_lg
            span.iconbox__step 1
            .iconbox__img
              img(src="img/ico-inn.svg" alt="")
            .iconbox__body
              p.iconbox__txt Введите ИНН вашей организации и&nbsp;скачайте ваш шаблон Анкеты-Заявки в&nbsp;Excel формате
        .col-md-4.col-sm-12
          .iconbox.iconbox_step.iconbox_lg
            span.iconbox__step 2
            .iconbox__img
              img(src="img/ico-load-anketa.svg" alt="")
            .iconbox__body
              p.iconbox__txt Загрузите заполненную Анкету-Заявку от&nbsp;вашей организации
        .col-md-4.col-sm-12
          .iconbox.iconbox_step.iconbox_last.iconbox_lg
            span.iconbox__step 3
            .iconbox__img
              img(src="img/ico-letter-answer.svg" alt="")
            .iconbox__body
              p.iconbox__txt Получите ответ на&nbsp;указанную в&nbsp;заявке почту о&nbsp;графике доставки бесплатных регистраторов эмиссии в&nbsp;соответствии с&nbsp;указанной информацией


  //main section
  section.section.section_gray.section_no-pad-top
    .c-container
      .row
        //form content
        .col-lg-8
          .white-block.mh
            .nav-tab.js_outClick.js_tabsOption
              .nav-tab__wrapper
                .nav-tab__item.nav-tab__item_icon.active.js-tab(data-href="#inn")
                  span.nav-tab__count 1
                  | Проверка ИНН
                .nav-tab__item.nav-tab__item_icon.js-tab(data-href="#load")
                  span.nav-tab__count 2
                  | Загрузка Анкеты-Заявки

            #inn.js-tab-content
              include parts/anketa/inn

            #load.js-tab-content.d-none
              include parts/anketa/load-anket

        //aside block
        .col-lg-4
          .white-block
            h3.content-title Примечания
            ul.list.list_def
              li Заявки принимаются от&nbsp;юридических лиц аптек и&nbsp;медицинских организаций до&nbsp;ХХХ даты. По&nbsp;одному ИНН можно загрузить Анкету-Заявку только 1&nbsp;раз.
              li При возникновении каких-либо проблем с&nbsp;получением шаблона Анкеты-Заявки и/или последующей загрузки ее&nbsp;на&nbsp;сайт&nbsp;&mdash; обращайтесь в&nbsp;службу поддержки на&nbsp;
                a(href="mailto:support@crpt.ru").link support@crpt.ru
              li ЦРПТ оставляет за&nbsp;собой право самостоятельно принимать решение по&nbsp;предоставлению бесплатных регистраторов эмиссии на&nbsp;основе полученных заявок.


      .row.gap-t_m
        .col-lg-8
          .white-block.mh
            .nav-tab.js_outClick.js_tabsOption
              .nav-tab__wrapper
                .nav-tab__item.nav-tab__item_icon.active
                  span.nav-tab__count 1
                  | Проверка ИНН
                .nav-tab__item.nav-tab__item_icon
                  span.nav-tab__count 2
                  | Загрузка Анкеты-Заявки
            h2.content-title.gap-t Введите ИНН вашей организации для получения <br>бесплатных регистраторов выбытия
            form.form
              .form__row
                .form__col
                  input.inp(placeholder="ИНН" type="text" value="47562432985532")
              .form__row.form__row_last.form__row_reset-sm
                .form__col.form__col_sm
                  button.btn.btn_primary.btn_reset-sm(disabled) Проверить ИНН
                .form__col.form__col_sm.b-status
                  .spinner
                  p.b-status__txt Идет проверка ИНН...

      .row.gap-t_m
        .col-lg-8
          .white-block.mh
            .nav-tab.js_outClick.js_tabsOption
              .nav-tab__wrapper
                .nav-tab__item.nav-tab__item_icon.active
                  span.nav-tab__count 1
                  | Проверка ИНН
                .nav-tab__item.nav-tab__item_icon
                  span.nav-tab__count 2
                  | Загрузка Анкеты-Заявки
            h2.content-title.gap-t Введите ИНН вашей организации для получения <br>бесплатных регистраторов выбытия
            form.form
              .form__row
                .form__col.is-error
                  input.inp(placeholder="ИНН" type="text" value="47562432985532")
              .form__row.form__row_last.form__row_reset-sm
                .form__col.form__col_sm
                  button.btn.btn_primary.btn_reset-sm(disabled) Проверить ИНН
                .form__col.form__col_sm.b-status.is-error
                  p.b-status__txt Указанный ИНН не&nbsp;найден. Сообщить о&nbsp;проблеме в&nbsp;службу поддержки&nbsp;
                    a(href="mailto:support@crpt.ru").link support@crpt.ru

      .row.gap-t_m
        .col-lg-8
          .white-block.mh
            .nav-tab.js_outClick.js_tabsOption
              .nav-tab__wrapper
                .nav-tab__item.nav-tab__item_icon.active
                  span.nav-tab__count 1
                  | Проверка ИНН
                .nav-tab__item.nav-tab__item_icon
                  span.nav-tab__count 2
                  | Загрузка Анкеты-Заявки
            h2.content-title.gap-t Введите ИНН вашей организации для получения <br>бесплатных регистраторов выбытия
            form.form
              .form__row
                .form__col.is-error
                  input.inp(placeholder="ИНН" type="text" value="47562432985532")
              .form__row.form__row_last.form__row_reset-sm
                .form__col.form__col_sm
                  button.btn.btn_primary.btn_reset-sm(disabled) Проверить ИНН
                .form__col.form__col_sm.b-status.is-error
                  p.b-status__txt По&nbsp;одному ИНН можно загрузить Анкету-Заявку только 1&nbsp;раз. От&nbsp;организации с&nbsp;указанным ИНН Анкета-Заявка уже получена. Сообщить о&nbsp;проблеме в&nbsp;службу поддержки&nbsp;
                    a(href="mailto:support@crpt.ru").link support@crpt.ru


  include inc/footer

block script
  script(src="js/selectric.min.js")
  script(src="js/anketa.js")