extends inc/base

block title
  title= 'Типографика'
  meta(name="description" content="Описание страницы")

block content
  include parts/header
  section.section.section_brd-bot.after-fixed-nav
    .c-container
      h1.title UI элементы
      h2.content-title.gap-t_lg Кнопки
      .row
        .col-md-3
          button.btn.btn_primary.btn_w-100 Действие кнопка
        .col-md-3
          button.btn.btn_dark.btn_w-100 Кнопка темная
        .col-md-3
          button.btn.btn_secondary.btn_w-100 Кнопка второстепенная
        .col-md-3
          button.btn.btn_def.btn_w-100(disabled) Кпонка задизаблена

  section.section.section_brd-bot.after-fixed-nav
    .c-container
      h3.content-title Фильтр
      .row
        .col
          .filter.gap-t
            .filter__col
              span.filter__lbl.js-filter Город
                span.filter__lbl-prefix :
              ul.filter__list.list-filter.js-list-filter
                li.list-filter__item.js-filter-item(data-href="all")
                  span.list-filter__link Все
                  span.list-filter__count 18
                li.list-filter__item.js-filter-item.is-active(data-href="moscow")
                  span.list-filter__link Москва
                  span.list-filter__count 9
                  span.list-filter__close
                li.list-filter__item.js-filter-item(data-href="piter")
                  span.list-filter__link Санкт-Петербург
                  span.list-filter__count 8
                  span.list-filter__close
                li.list-filter__item.js-filter-item(data-href="vladivostok")
                  span.list-filter__link Владивосток
                  span.list-filter__count 1
                  span.list-filter__close
                li.list-filter__item.list-filter__item_sub-menu.js-sub-list
                  span.list-filter__link Другие города
                  ul.list-filter__sub-list
                    li.list-filter__item.js-filter-item(data-href="ekat")
                      span.list-filter__link Екатеринбург
                      span.list-filter__count 1
                      span.list-filter__close
                    li.list-filter__item.js-filter-item(data-href="perm")
                      span.list-filter__link Пермь
                      span.list-filter__count 1
                      span.list-filter__close
                    li.list-filter__item.js-filter-item(data-href="chelyabinsk")
                      span.list-filter__link Челябинск
                      span.list-filter__count 1
                      span.list-filter__close
                    li.list-filter__item.js-filter-item(data-href="samara")
                      span.list-filter__link Самара
                      span.list-filter__count 1
                      span.list-filter__close
                    li.list-filter__item.js-filter-item(data-href="kazan")
                      span.list-filter__link Казань
                      span.list-filter__count 1
                      span.list-filter__close


          .filter.gap-t
            .filter__col
              span.filter__lbl.js-filter Статус
                span.filter__lbl-prefix :
              ul.filter__list.list-filter.js-list-filter
                li.list-filter__item.js-filter-item(data-href="all-status")
                  span.list-filter__link Все
                  span.list-filter__count 18
                li.list-filter__item.js-filter-item(data-href="open")
                  span.list-filter__link Открыта
                  span.list-filter__count 4
                  span.list-filter__close
                li.list-filter__item.js-filter-item(data-href="in-job")
                  span.list-filter__link В работе у меня
                  span.list-filter__count 10
                  span.list-filter__close

            .filter__col.filter__col_right
              p.filter__txt У вас в работе 10 заявок.&nbsp;
                span.filter__txt_notes Доступно еще 5 заявок.






  section.section.section_brd-bot.after-fixed-nav
    .c-container
      h3.content-title Табы
      .row
        .col-lg-8
          .nav-tab.js_outClick.js_tabsOption
            .nav-tab__wrapper
              .nav-tab__item.nav-tab__item_icon.active.js-tab(data-href="#inn")
                span.nav-tab__count 1
                | Проверка ИНН
              .nav-tab__item.nav-tab__item_icon.js-tab(data-href="#load")
                span.nav-tab__count 2
                | Загрузка Анкеты-Заявки

  section.section.section_gray.section_brd-bot.after-fixed-nav
    .c-container
      h3.content-title Иконки шагов в&nbsp;кружках
      .row
        .col-md-4.col-sm-12
          .iconbox.iconbox_step.iconbox_lg
            span.iconbox__step 1
            .iconbox__img
              img(src="img/ico-inn.svg" alt="")
            .iconbox__body
              p.iconbox__txt Введите ИНН вашей организации и&nbsp;скачайте ваш шаблон Анкеты-Заявки в&nbsp;Excel формате
        .col-md-4.col-sm-12
          .iconbox.iconbox_step.iconbox_lg
            span.iconbox__step 2
            .iconbox__img
              img(src="img/ico-load-anketa.svg" alt="")
            .iconbox__body
              p.iconbox__txt Загрузите заполненную Анкету-Заявку от&nbsp;вашей организации
        .col-md-4.col-sm-12
          .iconbox.iconbox_step.iconbox_last.iconbox_lg
            span.iconbox__step 3
            .iconbox__img
              img(src="img/ico-letter-answer.svg" alt="")
            .iconbox__body
              p.iconbox__txt Получите ответ на&nbsp;указанную в&nbsp;заявке почту о&nbsp;графике доставки бесплатных регистраторов эмиссии в&nbsp;соответствии с&nbsp;указанной информацией

  include inc/footer

block script
  script(src="js/main.js")