extends inc/base

block title
  title= ''
  meta(name="description" content="Описание страницы")

block content
  include parts/header
  section.section.section_brd-bot.after-fixed-nav
    .c-container
      .row
        .col-md-6
          form.form
            h1.form__title Элементы формы
            .form__row
              .form__col
                input.inp(type="text" placeholder="ФИО")
            .form__row.form__row_reset-mbl
              .form__col
                input.inp(type="tel" placeholder="Телефон")
              .form__col
                input.inp(type="email" placeholder="E-mail")
            .form__row.form__row_reset-mbl
              .form__col
                input.inp(type="text" placeholder="Страна")
              .form__col
                input.inp(type="text" placeholder="Город")
              .form__col
                input.inp(type="text" placeholder="Адрес")
            .form__row
              .form__col
                input.inp.inp_icon(placeholder="Ваш пароль" type="password" required)
                span.inp-icon.inp-icon_pass
            .form__row.form__row_reset-mbl.gap-t
              .form__col.form__col_sm
                input.radio(type="radio" value="yes" name="cachbox" id="yes" checked)
                label.lbl(for="yes") Да
              .form__col.form__col_sm
                input.radio(type="radio" name="cachbox" id="program-no" value="no" )
                label.lbl(for="program-no") Нет
              .form__col
                input.checkbox(type="checkbox" name="agree" id="agree" checked)
                label.lbl(for="agree") Условия прочитал

  section.section
    .c-container
      .row
        .col
          form.form
            h1.form__title Поля ввода
            .form__row.form__row_reset-mbl
              .form__col
                input.inp(type="text" value="Не активное состояние" disabled)
              .form__col
                input.inp.is-focus(type="text" value="Активное состояние")
              .form__col
                input.inp(type="text" value="Поле заполнено")
                span.inp-notes Подсказка к полю
              .form__col.is-error
                input.inp(type="text" value="kjfdkjsk")
                span.inp-notes Ошибка

  section.section.section_no-pad-top
    .c-container
      .row
        .col
          form.form
            h1.form__title Выпадающие списки
              .form__row.form__row_reset-mbl
                .form__col
                  select.js-select
                    option(value="0" disabled selected).select-lbl Выбор списка
                    option(value="1") Пункт 1
                    option(value="2") Пункт 2
                    option(value="3") Пункт 3
                .form__col
                  select.js-select(disabled)
                    option(value="0" disabled selected).select-lbl Укажите пункт
                    option(value="1") Пункт 1
                    option(value="2") Пункт 2
                    option(value="3") Пункт 3
                .form__col
                  select.js-select(multiple).multiple
                    option(value="0" disabled).select-lbl Выбор списка
                    option(value="1") Пункт 1
                    option(value="2") Пункт 2
                    option(value="3") Пункт 3
                    option(value="4") Пункт 4
                .form__col
                  select.js-select(multiple disabled).multiple
                    option(value="0" disabled).select-lbl Выбор списка
                    option(value="1") Пункт 1
                    option(value="2") Пункт 2
                    option(value="3") Пункт 3
                    option(value="4") Пункт 4

  include inc/footer

block script
  script(src="js/selectric.min.js")