extends inc/base

block title
  title= 'Главная страница'
  meta(name="description" content="Описание страницы")

block content
  include parts/header

  main

    section

      h1 Hello World!


  include inc/footer