extends inc/base

block title
  title= 'Главная страница'
  meta(name="description" content="Описание страницы")

block content
  include parts/header
  section.section.section_brd-bot.after-fixed-nav
    .c-container
      h1.title Страницы
      .row.justify-content-between.gap-t_lg
        .col-md-6
          h2.content-title.content-title_mid Анкета
          ul
            li
              a.link(href="/anketa-order.html") Анкета-Заявка на получение бесплатного регистратора эмиссии
            li
              a.link(href="/anketa-order_popup.html") Попап Спасибо

          h2.content-title.content-title_mid.gap-t_lg Поставщик
          ul
            li
              a.link(href="/provider-auth.html") Авторизация ЛК
            li
              a.link(href="/provider-order-list.html") Список заявок
            li
              a.link(href="/provider-order-item.html") Завка
            li
              a.link(href="/provider-profile.html") Тест на готовность магазина к маркировке

        .col-md-4
          h3.content-title.content-title_mid Документация
          ul
            li
              a.link(href="/elements.html") Элементы формы
            li
              a.link(href="/doc_typo.html") Типографика
            li
              a.link(href="/doc_ui.html") UI элементы


  include inc/footer