extends inc/base

block title
  title= 'Личный кабинет Поставщика | Заявка'
  meta(name="description" content="Описание страницы")
block style
  link(rel='stylesheet', href='css/lk-provider.css')

block content
  include parts/header

  section.section.section_m-pad.section_mobile-sm.after-fixed-nav
    .c-container
      .row
        .col
          .title-row
            h1.title.title-row__title Заявка от&nbsp;ООО &laquo;Рога и&nbsp;копыта&raquo;
            a(href="/provider-order-list.html").link.link_back К списку заявок

  section.section.section_m-pad.section_no-pad-top.d-md-none
    .c-container
      .row
        .col-md-4
          .b-aside
            h3.b-aside__title Заявка открыта
            button.btn.btn_primary.b-aside__btn Взять в работу
  section.section.section_m-pad.section_no-pad-top
    .c-container
      .row
        .col-md-8
          .fake-tbl.fake-tbl_two-col
            .fake-tbl__row
              .fake-tbl__col Дата и время создания:
              .fake-tbl__col.fake-tbl__col_name 21.01.2019 13:45
            .fake-tbl__row
              .fake-tbl__col Город:
              .fake-tbl__col.fake-tbl__col_name Москва
            .fake-tbl__row
              .fake-tbl__col Наличие онлайн-кассы:
              .fake-tbl__col.fake-tbl__col_name Есть (54-ФЗ)
            .fake-tbl__row
              .fake-tbl__col Наличие 2D-сканера:
              .fake-tbl__col.fake-tbl__col_name Нет
            .fake-tbl__row
              .fake-tbl__col Наличие кассовой программы:
              .fake-tbl__col.fake-tbl__col_name Нет, но нужна

          h2.content-title.content-title_mid Контактные данные
          .fake-tbl.fake-tbl_two-col
            .fake-tbl__row
              .fake-tbl__col ФИО:
              .fake-tbl__col.fake-tbl__col_name Константинопольский Александр Игоревич
            .fake-tbl__row
              .fake-tbl__col Название компании:
              .fake-tbl__col.fake-tbl__col_name ООО «Рога и копыта»
            .fake-tbl__row
              .fake-tbl__col Электронная почта:
              .fake-tbl__col.fake-tbl__col_name info@rg.ru
            .fake-tbl__row
              .fake-tbl__col Контактный телефон:
              .fake-tbl__col.fake-tbl__col_name +7 (495) 123-45-67
        .col-md-4
          .b-aside
            h3.b-aside__title Заявка открыта
            button.btn.btn_primary.b-aside__btn Взять в работу
          .b-aside.gap-t
            h3.b-aside__title Заявка в работе
            button.btn.btn_def.b-aside__btn Закрыть заявку


  include inc/footer