extends inc/base

block title
  title= 'Тест на готовность магазина к маркировке'
  meta(name="description" content="Описание страницы")

block content
  include parts/header

  section.section.section_m-pad.after-fixed-nav
    .c-container
      .row
        .col
          ul.breadcrumbs
            li.breadcrumbs__item
              a.breadcrumbs__link(href='/') Главная
            li.breadcrumbs__item
              a.breadcrumbs__link(href='/business/') Бизнесу
            li.breadcrumbs__item
              span тест на&nbsp;готовность магазина
      .row
        .col
          h1.title Тест на&nbsp;готовность магазина к&nbsp;маркировке
      .row
        .col
          .nav-tab.gap-t.js_outClick.js_tabsOption
            .nav-tab__wrapper
              .nav-tab__item.active Маркировка табака с 1 марта 2019 года
              .nav-tab__item Новые правила продажи табака
              .nav-tab__item Что нужно для продажи по новым правилам
              .nav-tab__item Тест на готовность магазина к маркировке

  section.section.section_gray.section_m-pad
    .c-container
      .row
        .col-12.col-lg-6
          video(poster='img/video-poster-test.png')
            source(src='video/duel.mp4', type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
        .col-12.col-lg-6
          .c-block
            h2.content-title С&nbsp;1&nbsp;марта 2019 года вводятся новые правила оборота сигарет.
            p.c-block__txt Они распространятся на&nbsp;всех участников рынка&nbsp;&mdash; производителей, импортеров, оптовую и&nbsp;розничную торговлю.
            a.btn.btn_primary.btn_reset-sm(href="#") Пройти тест <span class="d-none d-sm-block">на&nbsp;готовность магазина к&nbsp;маркировке</span>
  section.section
    .c-container
      h2.content-title Этапы запуска маркировки табака
      .row
        .col-md-4
          figure.iconbox
            img.iconbox__img(src="img/img-registration.png")
            figcapture.iconbox__body
              h3.iconbox__title 1 марта 2019 года
              p.iconbox__txt регистрация участников оборота

        .col-md-4
          figure.iconbox
            img.iconbox__img(src="img/img-stop-product.png")
            figcapture.iconbox__body
              h3.iconbox__title 1  июля 2019 года
              p.iconbox__txt Прекращение выпуска немаркеруемой продукции, обязательная регистрация розничных продаж

        .col-md-4
          figure.iconbox.iconbox_last
            img.iconbox__img(src="img/img-stop-sale.png")
            figcapture.iconbox__body
              h3.iconbox__title 1  июля 2020 года
              p.iconbox__txt Прекращение оборота немаркеруемой продукции
  section.section.section_gray
    .c-container
      h3.content-title.content-title_mid Перечень товаров, подлежащих обязательной маркировке в&nbsp;2019 году<br>
        | (Постановление Правительства РФ &#8470;&nbsp;792-р):
      .row
        .col
          ul.list.list_def.square
            li В&nbsp;марте 2019&nbsp;г. будет промаркирован табак
            li В&nbsp;июле 2019&nbsp;г. начинается обязательная маркировка обуви
            li В&nbsp;декабре 2019&nbsp;г. будут промаркированы духи и&nbsp;туалетная вода, большинство товаров легкой промышленности, фотоаппараты и&nbsp;шины

  include inc/footer