extends inc/base

block title
  title= 'Тест на готовность магазина к маркировке'
  meta(name="description" content="Описание страницы")

block content
  include parts/header

  section.section.section_m-pad.after-fixed-nav
    .c-container
      .row
        .col
          ul.breadcrumbs
            li.breadcrumbs__item
              a.breadcrumbs__link(href='/') Главная
            li.breadcrumbs__item
              a.breadcrumbs__link(href='/business/') Бизнесу
            li.breadcrumbs__item
              span тест на&nbsp;готовность магазина
      .row
        .col
          h1.title Тест на&nbsp;готовность магазина к&nbsp;маркировке
      .row
        .col
          .nav-tab.js_outClick.js_tabsOption
            .nav-tab__wrapper
              .nav-tab__item Маркировка табака с 1 марта 2019 года
              .nav-tab__item Новые правила продажи табака
              .nav-tab__item Что нужно для продажи по новым правилам
              .nav-tab__item.active Тест на готовность магазина к маркировке

  form.form
    section.section.section_no-pad-top.section_brd-bot
      .c-container
        h2.content-title Тест на&nbsp;готовность магазина к&nbsp;маркировке
        .row
          .col-12.col-lg-8
            fieldset.form__wrap
              h3.form__title Укажите ваши контактные данные:
              .form__row
                input.inp(placeholder="ФИО" type="text")
              .form__row.form__row_reset-mbl
                .form__col.form__col_half
                  input.inp(placeholder="Компания" type="text")
                .form__col.form__col_half
                  input.inp(placeholder="Город" type="text")
              .form__row.form__row_reset-mbl
                .form__col.form__col_half
                  input.inp(placeholder="Контактный телефон" type="tel")
                .form__col.form__col_half
                  input.inp(placeholder="Адрес эл. почты" type="email")
    section.section.section_m-pad.section_brd-bot
      .c-container
        .row
          .col-12.col-lg-8
            h3.form__title Вы используете онлайн-кассу?
            .form__row
              .form__col.form__col_sm
                input.radio(type="radio" value="yes" name="cachbox" id="cashbox-yes" checked)
                label.lbl(for="cashbox-yes") Да
              .form__col.form__col_sm
                input.radio(type="radio" name="cachbox" id="cashbox-no" value="no")
                label.lbl(for="cashbox-no") Нет
            .form__row.form__row_reset-mbl
              .form__col.col-md-6
                select.js-select
                  option(value="0" disabled selected).select-lbl Укажите производителя
                  option(value="1") Пункт 1
                  option(value="2") Пункт 2
                  option(value="3") Пункт 3
    section.section.section_m-pad.section_brd-bot
      .c-container
        .row
          .col-12.col-lg-8
            h3.form__title Вы используете 2D-сканер?
            .form__row
              .form__col
                input.radio(type="radio" name="scanner" id="scanner-yes" value="yes" checked)
                label.lbl(for="scanner-yes") Да
              .form__col
                input.radio(type="radio" name="scanner" id="scanner-no" value="no")
                label.lbl(for="scanner-no") Нет
    section.section.section_m-pad.section_brd-bot
      .c-container
        .row
          .col-12.col-lg-8
            h3.form__title У&nbsp;вас есть кассовая программа?
            .form__row
              .form__col
                input.radio(type="radio" name="program" id="program-yes" value="yes")
                label.lbl(for="program-yes") Да
              .form__col
                input.radio(type="radio" name="program" id="program-no" value="no" checked)
                label.lbl(for="program-no") Нет
            .form__row
              input.checkbox(type="checkbox" name="program" id="program" checked)
              label.lbl(for="program") Нужна кассовая программа
    section.section.section_m-pad.section_brd-bot
      .c-container
        .row
          .col-12.col-lg-8
            h3.form__title Вам нужна помощь IT-специалиста для подключения магазина к&nbsp;системе маркировки?
            .form__row
              .form__col
                input.radio(type="radio" name="specialist" id="specialist-yes" value="yes")
                label.lbl(for="specialist-yes") Да
              .form__col
                input.radio(type="radio" name="specialist" id="specialist-no" value="no" checked)
                label.lbl(for="specialist-no") Нет
            .form__row
              input.checkbox(type="checkbox" name="agree" id="agree" checked)
              label.lbl(for="agree") Вы&nbsp;принимаете соглашение о&nbsp;передачи данных 3-им лицам?
            .form__row.form__row_last
              button.btn.btn_primary(type="submit") Отправить

  include inc/footer

block script
  script(src="js/selectric.min.js")
