extends inc/base

block title
  title= 'Типографика'
  meta(name="description" content="Описание страницы")

block content
  include parts/header
  section.section.section_brd-bot.after-fixed-nav
    .c-container
      .row
        .col-md-12
          h1.title Заголовок страницы
          h2.title.title_md.gap-t Заголовк секций, или средний заголовок
          h3.content-title.gap-t Заголовк контентной части
          h3.content-title_mid Заголовк контентной части (среднего размера)

          .title-row.gap-t
            h3.title.title-row__title Заявка от&nbsp;ООО &laquo;Рога и&nbsp;копыта&raquo;
            a(href="/provider-order-list.html").link.link_back К списку заявок

  section.section.section_brd-bot
    .c-container
      .row
        .col-md-6
          h3.content-title.content-title_mid Ссылки
          p.gap-t
            a.link(href="#") Ссылка в тексте
          p
            a.link.link_back(href="#") Ссылка назад
          p
            a.link.link_btn(href="#") Ссылка с высотой как у кнопки
          p
            a.link.link_download(href="#") Ссылка на скачивание
        .col-md-6
          h3.content-title.content-title_mid Списки
          ul.list.list_def
            li  Пункт 1
            li  Пункт 2
            li  Пункт 3




  include inc/footer