h2.content-title.gap-t Введите ИНН вашей организации для получения <br>бесплатных регистраторов выбытия
form.form
  .form__row
    .form__col
      input.inp(placeholder="ИНН" type="text")
  .form__row.form__row_last.form__row_reset-sm
    .form__col.form__col_sm
      button.btn.btn_primary.btn_reset-sm Проверить ИНН