svg(xmlns='http://www.w3.org/2000/svg')

  //- example usage

  symbol#weather(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width='35.768', height='32.907', viewBox='0 0 35.768 32.907')

    g#weather_drizzle(xmlns='http://www.w3.org/2000/svg', data-name='weather drizzle', transform='translate(0.768 0.609)')
      path#Shape(d='M25.114,23.415A7.425,7.425,0,0,0,32.455,16a7.634,7.634,0,0,0-3.091-6.088V9.366a9.273,9.273,0,1,0-18.545,0A10.6,10.6,0,0,0,11.2,12.1a6.5,6.5,0,0,0-4.636-1.951,6.634,6.634,0,0,0,0,13.268', transform='translate(1.545 3.902)', fill='', stroke='', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='2')
      path#Shape-2(data-name='Shape', d='M1.39,9.677A5.943,5.943,0,0,1,2.008,1.4a5.808,5.808,0,0,1,8.191.624', transform='translate(4.638 4.684)', fill='', stroke='', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='2')
      path#Shape-3(data-name='Shape', d='M1.855.859,0,0', transform='translate(1.314 4.995)', fill='', stroke='', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='2')
      path#Shape-4(data-name='Shape', d='M0,1.873.618,0', transform='translate(12.595 0.39)', fill='', stroke='', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='2')
      path#Shape-5(data-name='Shape', d='M1.932,0,0,.234', transform='translate(0.232 11.707)', fill='', stroke='', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='2')
      path#Shape-6(data-name='Shape', d='M.773,1.873,0,0', transform='translate(6.336 0.39)', fill='', stroke='', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='2')
      path#Shape-7(data-name='Shape', d='M2.859,0,0,8.2', transform='translate(22.1 23.102)', fill='', stroke='', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='2')
      path#Shape-8(data-name='Shape', d='M2.859,0,0,8.2', transform='translate(18.236 23.102)', fill='', stroke='', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='2')
      path#Shape-9(data-name='Shape', d='M2.859,0,0,8.2', transform='translate(14.373 23.102)', fill='', stroke='', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='2')
      path#Shape-10(data-name='Shape', d='M2.859,0,0,8.2', transform='translate(10.509 23.102)', fill='', stroke='', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='2')